In [56]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 100)

from itertools import product
from sklearn.preprocessing import LabelEncoder

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from googletrans import Translator
translator = Translator()
import re

# from xgboost import XGBRegressor
# from xgboost import plot_importance

def plot_features(booster, figsize):    
    fig, ax = plt.subplots(1,1,figsize=figsize)
    return plot_importance(booster=booster, ax=ax)

import time
import sys
import gc
import pickle
sys.version_info

sys.version_info(major=3, minor=6, micro=10, releaselevel='final', serial=0)

In [57]:
items = pd.read_csv('items.csv')
shops = pd.read_csv('shops.csv')
cats = pd.read_csv('item_categories.csv')
train = pd.read_csv('sales_train.csv')
# set index to ID to avoid droping it later
test  = pd.read_csv('test.csv').set_index('ID')

In [58]:
# Need to translate the russian name into english for each shop in shops file
def translate_shop_name(row):
#     shp_id = int(row['shop_id'])
    shop_name_rs = row['shop_name']
    shop_name_en = translator.translate(shop_name_rs).text
    shop_name_en = re.sub('[^a-zA-Z0-9 \n\.\ ]', "", shop_name_en).strip()
#     shop_name_en = re.sub("[!@#$%^&*()[]{};:,./<>?\|`~-=_+]", "", shop_name_en)
#     print(shop_name_en)
    return shop_name_en

In [59]:
# trans = translator.translate(shops['shop_name'].iloc[0])
# trans.text.replace("\'","")
# shops_translate = []
# for i in range(len(shops)):
#     shops_translate.append((i, translator.translate(shops['shop_name'].iloc[i]).text))
# shops_translate
shops['shop_name_en'] = shops.apply(translate_shop_name, axis = 1)
shops['city'] = shops['shop_name_en'].str.split(' ').map(lambda x: x[0])
shops.loc[shops.city == ' Yakutsk', 'city'] = 'Yakutsk'
shops['city_code'] = LabelEncoder().fit_transform(shops['city'])
# shops = shops[['shop_id','city_code']]
# shops

,shop_name,shop_id,shop_name_en,city,city_code
0,"!Якутск Орджоникидзе, 56 фран",0,Yakutsk Ordzhonikidze 56 Franc,Yakutsk,28
1,"!Якутск ТЦ ""Центральный"" фран",1,Yakutsk TC Central Franc,Yakutsk,28
2,"Адыгея ТЦ ""Мега""",2,Adygea TC Mega,Adygea,0
3,"Балашиха ТРК ""Октябрь-Киномир""",3,Balashikha TRC OctoberKinomir,Balashikha,1
4,"Волжский ТЦ ""Волга Молл""",4,Volzhsky mall Volga Mall,Volzhsky,26
5,"Вологда ТРЦ ""Мармелад""",5,Vologda SEC Marmalade,Vologda,25
6,"Воронеж (Плехановская, 13)",6,Voronezh Plekhanovskaya 13,Voronezh,27
7,"Воронеж ТРЦ ""Максимир""",7,Voronezh TRC Maksimir,Voronezh,27
8,"Воронеж ТРЦ Сити-Парк ""Град""",8,Voronezh TRC CityPark City,Voronezh,27
9,Выездная Торговля,9,Itinerant trade,Itinerant,4
10,Жуковский ул. Чкалова 39м?,10,Zhukovsky Street. Chkalov 39m,Zhukovsky,30
11,Жуковский ул. Чкалова 39м²,11,Zhukovsky Street. Chkalov 39m,Zhukovsky,30
12,Интернет-магазин ЧС,12,Shop Online Emergencies,Shop,19
13,"Казань ТЦ ""Бехетле""",13,Kazan TC Ice,Kazan,6
14,"Казань ТЦ ""ПаркХаус"" II",14,Kazan shopping mall of Parkhouse II of,Kazan,6
15,"Калуга ТРЦ ""XXI век""",15,Kaluga SEC XXI Century,Kaluga,5
16,"Коломна ТЦ ""Рио""",16,Kolomna TC Rio,Kolomna,8
17,"Красноярск ТЦ ""Взлетка Плаза""",17,Krasnoyarsk TC Vzletka Plaza,Krasnoyarsk,9
18,"Красноярск ТЦ ""Июнь""",18,Krasnoyarsk SC June,Krasnoyarsk,9
19,"Курск ТЦ ""Пушкинский""",19,Kursk TC Pushkin,Kursk,10
20,"Москва ""Распродажа""",20,Moscow Sale,Moscow,11
21,"Москва МТРЦ ""Афи Молл""",21,Moscow MTRTS Afi Mall,Moscow,11
22,Москва Магазин С21,22,Moscow Shop C21,Moscow,11
23,"Москва ТК ""Буденовский"" (пав.А2)",23,Moscow TK Budenovsky pav.A2,Moscow,11
24,"Москва ТК ""Буденовский"" (пав.К7)",24,Moscow TK Budenovsky pav.K7,Moscow,11
25,"Москва ТРК ""Атриум""",25,Moscow TRC Atrium,Moscow,11
26,"Москва ТЦ ""Ареал"" (Беляево)",26,Moscow shopping mall area Belyaevo,Moscow,11
27,"Москва ТЦ ""МЕГА Белая Дача II""",27,Moscow shopping center MEGA Belaya Dacha II,Moscow,11
28,"Москва ТЦ ""МЕГА Теплый Стан"" II",28,Moscow shopping center MEGA Teply Stan II of,Moscow,11
29,"Москва ТЦ ""Новый век"" (Новокосино)",29,Moscow shopping center New Age Novokosino,Moscow,11
30,"Москва ТЦ ""Перловский""",30,Moscow TC Perlovskiy,Moscow,11
31,"Москва ТЦ ""Семеновский""",31,Moscow shopping center Semyonov,Moscow,11
32,"Москва ТЦ ""Серебряный Дом""",32,Moscow shopping center Silver House,Moscow,11
33,"Мытищи ТРК ""XL-3""",33,Mytishchi TRK XL3,Mytishchi,12
34,"Н.Новгород ТРЦ ""РИО""",34,Nizhny Novgorod SEC RIO,Nizhny,13
35,"Н.Новгород ТРЦ ""Фантастика""",35,Nizhny Novgorod SEC Fantasy,Nizhny,13
36,"Новосибирск ТРЦ ""Галерея Новосибирск""",36,Novosibirsk SEC Gallery Novosibirsk,Novosibirsk,14
37,"Новосибирск ТЦ ""Мега""",37,Novosibirsk TC Mega,Novosibirsk,14
38,"Омск ТЦ ""Мега""",38,Omsk TC Mega,Omsk,15
39,"РостовНаДону ТРК ""Мегацентр Горизонт""",39,RostovNaDonu TRC Megacenter Horizon,RostovNaDonu,16
40,"РостовНаДону ТРК ""Мегацентр Горизонт"" Островной",40,RostovNaDonu TRC Megacenter Horizon Island,RostovNaDonu,16
41,"РостовНаДону ТЦ ""Мега""",41,RostovNaDonu TC Mega,RostovNaDonu,16
42,"СПб ТК ""Невский Центр""",42,St. Petersburg TK Nevsky Center,St.,20
43,"СПб ТК ""Сенная""",43,St. Petersburg TK Sennaya,St.,20
44,"Самара ТЦ ""Мелодия""",44,Samara TC Melody,Samara,17
45,"Самара ТЦ ""ПаркХаус""",45,Samara TC Parkhaus,Samara,17
46,"Сергиев Посад ТЦ ""7Я""",46,Sergiyev Posad TC 7H,Sergiyev,18
47,"Сургут ТРЦ ""Сити Молл""",47,Surgut SEC City Mall,Surgut,21
48,"Томск ТРЦ ""Изумрудный Город""",48,Tomsk SEC Emerald City,Tomsk,22
49,"Тюмень ТРЦ ""Кристалл""",49,Tyumen SEC Crystal,Tyumen,23
50,"Тюмень ТЦ ""Гудвин""",50,Tyumen SC Goodwin,Tyumen,23
51,"Тюмень ТЦ ""Зеленый Берег""",51,Tyumen SC Green Coast,Tyumen,23
52,"Уфа ТК ""Центральный""",52,Ufa TC Central,Ufa,24
53,"Уфа ТЦ ""Семья"" 2",53,Ufa TC Family 2,Ufa,24
54,"Химки ТЦ ""Мега""",54,Khimki TC Mega,Khimki,7
55,Цифровой склад 1С-Онлайн,55,Digital storage 1Cline,Digital,3
56,"Чехов ТРЦ ""Карнавал""",56,Czechs SEC Carnival,Czechs,2
57,"Якутск Орджоникидзе, 56",57,Yakutsk Ordzhonikidze 56,Yakutsk,28
58,"Якутск ТЦ ""Центральный""",58,Yakutsk TC Central,Yakutsk,28
59,"Ярославль ТЦ ""Альтаир""",59,Yaroslavl shopping center Altair,Yaroslavl,29

In [60]:
shops = shops[['shop_id','city_code']]

In [61]:
# Need to translate the russian name into english for each shop in shops file
def translate_item_category_name(row):
#     shp_id = int(row['shop_id'])
    cat_name_rs = row['item_category_name']
    cat_name_en = translator.translate(cat_name_rs).text
    cat_name_en = re.sub('[^a-zA-Z0-9 \n\.\ ]', "", cat_name_en)
    cat_name_en = re.sub(' +', ' ', cat_name_en)
#     shop_name_en = re.sub("[!@#$%^&*()[]{};:,./<>?\|`~-=_+]", "", shop_name_en)
#     print(shop_name_en)
    return cat_name_en

In [62]:
cats['item_category_name_en'] = cats.apply(translate_item_category_name, axis = 1)

In [63]:
cats['type'] = cats['item_category_name_en'].str.split(' ').map(lambda x: x[0])
cats['type_code'] = LabelEncoder().fit_transform(cats['type'])
cats['subtype'] = cats['item_category_name_en'].str.split(' ').map(lambda x: x[1] if len(x) > 1 else x[0])
cats['subtype_code'] = LabelEncoder().fit_transform(cats['subtype'])

In [9]:
cats = cats[['item_category_id','type_code', 'subtype_code']]

In [10]:
train = train[train.item_price<100000]
train = train[train.item_cnt_day<1001]

In [11]:
train.loc[train.item_price<0]

              date  date_block_num  shop_id  item_id  item_price  item_cnt_day
484683  15.05.2013               4       32     2973        -1.0           1.0

In [12]:
median = train[(train.shop_id==32)&(train.item_id==2973)&(train.date_block_num==4)&(train.item_price>0)].item_price.median()
train.loc[train.item_price<0, 'item_price'] = median
train.loc[train.item_price<0]

Empty DataFrame
Columns: [date, date_block_num, shop_id, item_id, item_price, item_cnt_day]
Index: []

In [13]:
len(list(set(test.item_id) - set(test.item_id).intersection(set(train.item_id)))), len(list(set(test.item_id))), len(test)

(363, 5100, 214200)

In [14]:
train

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
0,02.01.2013,0,59,22154,999.00,1.0
1,03.01.2013,0,25,2552,899.00,1.0
2,05.01.2013,0,25,2552,899.00,-1.0
3,06.01.2013,0,25,2554,1709.05,1.0
4,15.01.2013,0,25,2555,1099.00,1.0
...,...,...,...,...,...,...
2935844,10.10.2015,33,25,7409,299.00,1.0
2935845,09.10.2015,33,25,7460,299.00,1.0
2935846,14.10.2015,33,25,7459,349.00,1.0
2935847,22.10.2015,33,25,7440,299.00,1.0
2935848,03.10.2015,33,25,7460,299.00,1.0

In [18]:
train['date'] = train['date'].apply(lambda x: datetime.strptime(x, '%d.%m.%Y'))

train['day'] = train.date.apply(lambda x: int(x.strftime('%d')))
train['month'] = train.date.apply(lambda x: int(x.strftime('%m')))
train['year'] = train.date.apply(lambda x: int(x.strftime('%Y')))

In [55]:
train

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,day,month,year,revenue
2052769,2014-10-01,21,2,1485,1799.0,1.0,1,10,2014,1799.0
2052807,2014-10-01,21,2,1905,249.0,1.0,1,10,2014,249.0
2052707,2014-10-01,21,2,3340,1499.0,2.0,1,10,2014,2998.0
2052907,2014-10-01,21,2,3343,2599.0,2.0,1,10,2014,5198.0
2052934,2014-10-01,21,2,3732,2799.0,1.0,1,10,2014,2799.0
...,...,...,...,...,...,...,...,...,...,...
2098955,2014-10-31,21,59,20034,549.0,1.0,31,10,2014,549.0
2099049,2014-10-31,21,59,20242,299.0,1.0,31,10,2014,299.0
2099052,2014-10-31,21,59,20654,1399.0,1.0,31,10,2014,1399.0
2099031,2014-10-31,21,59,22087,79.0,1.0,31,10,2014,79.0
2099025,2014-10-31,21,59,22091,109.0,1.0,31,10,2014,109.0

In [21]:
train.to_csv('training_v1.csv', index=False)

In [54]:
train['revenue'] = train['item_price'] *  train['item_cnt_day']
train

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,day,month,year,revenue
2052769,2014-10-01,21,2,1485,1799.0,1.0,1,10,2014,1799.0
2052807,2014-10-01,21,2,1905,249.0,1.0,1,10,2014,249.0
2052707,2014-10-01,21,2,3340,1499.0,2.0,1,10,2014,2998.0
2052907,2014-10-01,21,2,3343,2599.0,2.0,1,10,2014,5198.0
2052934,2014-10-01,21,2,3732,2799.0,1.0,1,10,2014,2799.0
...,...,...,...,...,...,...,...,...,...,...
2098955,2014-10-31,21,59,20034,549.0,1.0,31,10,2014,549.0
2099049,2014-10-31,21,59,20242,299.0,1.0,31,10,2014,299.0
2099052,2014-10-31,21,59,20654,1399.0,1.0,31,10,2014,1399.0
2099031,2014-10-31,21,59,22087,79.0,1.0,31,10,2014,79.0
2099025,2014-10-31,21,59,22091,109.0,1.0,31,10,2014,109.0